<section style="height:90vh;background:url('./images/casinoImage.jpg');background-size:cover;">

  <div class="home-main-div">
    <h1 class="page-title">Home Menu</h1>
    <button class="home-button top-menu-button" type="button" ui-sref="tableTrainCount">Count Training</button>
    <button class="home-button" type="button" ui-sref="tableTrainChart">Chart Training</button>
    <button class="home-button" type="button" ui-sref="tableFreestyle">Freestyle</button>
    <button class="home-button" type="button" ui-sref="stats">Stats</button>
    <button class="home-button" type="button" ui-sref="about">About</button>
  </div>
</section>
