<section style="height:90vh;background: url('../images/green_felt.jpg');background-size:cover">

  <div class="table-top">
    <div class="table-top-left">
      <h1>{{title}}</h1>
      <p class="notification-area" ng-show="showCardsLeft">Cards left in deck: {{currentRemaining}}</p>
      <div class="action-buttons">
        <div ng-show="showBet">
          Bet:
          <input type="text" ng-model="human.bet" ng-show="showBet" ng-disabled="!canBet">
        </div>
        <button class="hit-button" type="button" ng-click="hit()" ng-show="showHit">Hit</button>
        <button type="button" ng-click="stand()" ng-show="showStand">Stand</button>
        <button type="button" ng-click="double()" ng-show="showDouble">Double</button>
        <button type="button" ng-click="split()" ng-show="showSplit">Split</button>
        <div class="">
          <button type="button" ng-click="deal()" ng-disabled="!canDeal">{{dealButtonText}}</button>
        </div>
      </div>
    </div>
    <div class="dealer">
      <h1>Dealer: {{dealerValue}}</h1>
      <div class="dealer-cards">
        <div ng-repeat="style in dealerStyles track by $index">
          <img style="{{style}}">
        </div>
      </div>
    </div>
    <div class="table-top-right">
      <div class="training-options">
        <ul class="list-column">
          <li ng-show="showCountOption"><input type="checkbox" ng-model="showCount">Display Count</li>
          <li ng-show="showChartOption"><input type="checkbox" ng-model="showChart">Display Chart</li>
          <li ng-show="showPracticeOptions"><input type="radio" name="name" value="value">Practice with all cards</li>
          <li ng-show="showPracticeOptions"><input type="radio" name="name" value="value">Practice Splits</li>
          <li ng-show="showPracticeOptions"><input type="radio" name="name" value="value">Practice Ace hands</li>
          <li class="current-count" ng-show="showCount">Count: {{currentCount}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="players-container">

    <div class="player" ng-repeat="player in players">
      <ul>
        <li>Name: {{player.name}}</li>
        <li ng-show="showCash">Cash: {{player.money}}</li>
        <li ng-show="showBet">Bet: {{player.bet}}</li>
      </ul>

      <div style="display:flex;" ng-repeat="handStyles in player.styles track by $index">

        <div ng-repeat="card in handStyles track by $index">
          <img style="{{card}}">
        </div>
         Value: {{player.total[$index]}}
      </div>

      <div class="players-container">
        <!-- <img style="width:214px; height:120px;background:url('../images/cards.svg') -38px 0px;background-size:3000px auto;"> -->
        <img style="{{theStyle}}">
      </div>
    </div>
  </div>

  <div class="display-result">
    {{result}}
  </div>
  <img class="chart-image" ng-src="../images/Betting-chart.jpg" ng-show="showChart">

</section>
