
body{
  background-color: #a11;
}


div.players-container{
  color:white;
  display: flex;
  justify-content:space-between;
  max-width:1000px;
}

.resize-card{
  /*position:absolute;*/
  width:1250px;
  height:auto;
  position: 110px 130px;

}

div.option-inputs{
  flex-direction: column;
  color:#111;

}

ul {
  list-style-type:none;
}
